@use '../../quark/spacing';

.v-space {
  @include spacing.spacings;

  display: flex;
  flex-direction: column;

  &.-center {
    align-items: center;
  }

  &--line {
    &.-stretch {
      align-self: stretch;
    }

    &.-center {
      align-self: center;
    }
  }
}
