@use '../../token/size';
@use '../../token/font';
@use '../../token/color';
@use '../../organism/header-home/header-home-ion';
@include header-home-ion.text('.title-home');

.title-home {
  --_date: calc(#{font.$size-title-main} * 0.45);

  display: flex;
  flex-direction: column;
  gap: size.$spacing-paragraphs;
  align-items: center;
  margin: 0;
  text-align: center;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-title-home;
  font-weight: font.$weight-title-main;

  &--date, &--title, &--description {
    display: block;
  }

  &--date {
    font-size: var(--_date);
    font-style: normal;
  }

  &--description {
    font-size: font.$size-text;
    font-weight: font.$weight-text;
  }
}
