mixin title-home(options)
  -const {date, description} = options || {};
  h1.title-home
    em.title-home--date=date
    strong.title-home--title
      block
    span.title-home--description=description
