@use '../../token/breakpoint';
@use '../../quark/spacing';

.items-area {
  @include spacing.spacings;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: breakpoint.$standard) {
    flex-flow: row wrap;
  }
}
