
.icon-right:before { content: '\e800'; } /* '' */
.icon-discord:before { content: '\e801'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\e803'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-meetup:before { content: '\f2e0'; } /* '' */
