:root {
  --color-text: #0e0e0e;
  --color-text-light: #fff;
  --color-background-page: #ddd;
  --color-background-content: #fff;
  --color-background-dark: #0e0e0e;
  --color-background-dark-0: #{rgba(#0e0e0e, 0)};
  --color-background-dark-80: #{rgba(#0e0e0e, 0.8)};
  --color-background-light-80: #{rgba(#fff, 0.8)};
  --color-success: #030;
  --color-error: #300;
}
