@use '../token/breakpoint';

:root {
  --font-size: max(3vw, 16px);
  --font-family: inter, sans-serif;
  --font-size-title-home: 5.5rem;
  --font-size-title-main: 4.375rem;
  --font-size-title-section: 1.2rem;
  --font-size-text: 1rem;
  --font-weight-title-main: 700;
  --font-weight-title-section: 500;
  --font-weight-text: normal;

  @media screen and (min-width: breakpoint.$standard) {
    --font-size: 20px;
  }
}
