@use '../token/size';

@mixin spacings() {
  &.-paragraphs {
    gap: size.$spacing-paragraphs;
  }

  &.-section {
    gap: size.$spacing-section;
  }

  &.-sections {
    gap: size.$spacing-sections;
  }

  &.-sponsors {
    gap: size.$spacing-sponsors;
  }
}
