<div class="sponsors"><div class="sponsors--sponsor"><img class="sponsor" src="/assets/images/workshop.jpeg" width="200"/></div><div class="sponsors--sponsor"><img class="sponsor" src="/assets/images/workshop.jpeg" width="200"/></div></div>