@use '../../token/color';
@use '../../token/font';
@use '../../token/breakpoint';
@use '../../organism/header-home/header-home-ion';
@include header-home-ion.social('.button-social');

.button-social {
  --_spacing: 0.5rem;
  --_duration: 0.25s;

  display: inline-flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  padding: 0;
  height: 2rem;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  color: color.$text;
  font-family: font.$family;
  font-size: 1rem;

  &::before {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    right: calc(100% - 2rem);
    bottom: 0;
    left: 0;
    transition: right var(--_duration), background-color var(--_duration);
    z-index: 1;
    border: 1px solid color.$background-dark;
    border-radius: 1rem;
    background-color: color.$background-dark-0;
    content: '';
  }

  &:hover, &:focus-visible {
    color: color.$text-light;
  }

  &:hover::before, &:focus-visible::before {
    right: 0;
    background-color: color.$background-dark;
  }

  &--icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 2rem;
    height: 2rem;
  }

  &--label {
    box-sizing: border-box;
    display: none;
    padding-right: var(--_spacing);
    overflow: hidden;
  }

  @media screen and (min-width: breakpoint.$standard) {
    &:hover &--label, &:focus-visible &--label {
      right: 0;
      opacity: 1;
    }

    &.-small {
      transition: width var(--_duration);
      width: fit-content;

      &::before {
        right: 0;
      }
    }

    &.-small &--label {
      right: 0;
      transition: var(--_duration);
      padding-right: 0;
      width: 0;
      overflow: hidden;
    }

    &.-small:hover &--label, &.-small:focus-visible &--label {
      box-sizing: border-box;
      padding-right: var(--_spacing);
      width: fit-content;
    }

    &--label {
      display: block;
      position: relative;
      right: 100%;
      transition: 0.25s;
      opacity: 0;
      z-index: 2;
    }
  }
}
