mixin button-social(icon, link, options)
  -const {small} = options || {};
  -const smallClass = small ? '-small' : null;
  a.button-social(href=link target='_blank' class=smallClass)
    span.button-social--icon(class=`icon-${icon}`)
    span.button-social--label
      block
