<div class="speaker-card"><div class="speaker-card--avatar"><img class="speaker-avatar" src="/assets/images/workshop.jpeg"/></div><div class="speaker-card--name"><div class="speaker-name">Colin DAMON</div></div></div>