@use '../../token/size';
@use '../../token/color';

.layout-main {
  scroll-behavior: smooth;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  background-color: color.$background-page;
  overflow: auto;

  &--content {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0 auto;
    background-color: color.$background-content;
    padding-bottom: 1rem;
    width: 100%;
    max-width: size.$width-content;
  }
}
