extends /layout-documentation

block append vars
  -active='organism'

block title
  title Tikui - Organisms

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1.tikui-title-main#organisms Organisms
    .tikui-vertical-spacing--line
      include /documentation/atomic-design/quote/organism
    .tikui-vertical-spacing--line
      include:componentDoc(height=200) budget/budget.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=450) header/header.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=700) header-home/header-home.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=50) items-area/items-area.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=350) padded-section/padded-section.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=800) program/program.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=500) v-space/v-space.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=600) workshop-area/workshop-area.md
