@use '../../token/breakpoint';
@use '../../token/color';
@use '../../token/size';
@use 'header-ion';
@include header-ion.text;

.header {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color.$background-dark;
  background-position: center;
  background-size: cover;
  padding: size.$spacing-header;
  overflow-wrap: anywhere;
  hyphens: auto;

  &--social {
    display: none;
  }

  @media screen and (min-width: breakpoint.$standard) {
    aspect-ratio: 3 / 1;
    min-height: auto;

    &--social {
      display: flex;
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
    }
  }
}
