mixin header(image)
  header.header(style=`background-image: url('${image}')`)
    block

mixin header-home--content
  .header-home--content
    block

mixin header-home--social
  .header-home--social
    block
