@use '../../token/color';
@use '../../token/font';
@use '../../token/size';

.budget {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-text;

  th, td {
    border: 1px solid color.$text;
    padding: size.$spacing-cell;
  }

  &--amount {
    text-align: right;
  }

  tbody &--amount {
    font-weight: 500;

    &.-income {
      color: color.$success;
    }

    &.-outcome {
      color: color.$error;
    }
  }
}
