mixin budget
  table.budget
    thead
      tr
        th Poste
        th.budget--amount €€€ (TTC)
    tbody
      block

mixin budget--line(poste, amount)
  -const format = (toFormat) => new Intl.NumberFormat('fr-FR', {signDisplay: 'always', style: 'currency', currency: 'EUR', minimumFractionDigits: 0}).format(toFormat);
  -const prettyAmount =  amount ? format(amount) : null;
  -const amountClass = amount ? amount > 0 ? '-income' : '-outcome' : null;
  tr.budget--line
    td=poste
    td.budget--amount(class=amountClass)=prettyAmount || '??? €'
