@use '../../token/color';
@use '../../token/radius';
@use '../../token/font';

.icon-tag {
  display: inline-block;
  border-radius: radius.$classic;
  background-color: color.$background-dark;
  padding: 0.1rem 0.2rem;
  color: color.$text-light;
  font-size: font.$size-text;

  &::before {
    margin: 0;
  }
}
