@function var-font($name) {
  @return var(--font-#{$name});
}

$size-title-home: var-font(size-title-home);
$size-title-main: var-font(size-title-main);
$size-title-section: var-font(size-title-section);
$size-text: var-font(size-text);
$weight-title-main: var-font(weight-title-main);
$weight-title-section: var-font(weight-title-section);
$weight-text: var-font(weight-text);
$family: var-font(family);
