@function var-size($name) {
  @return var(--size-#{$name});
}

$width-content: var-size(width-content);
$spacing-header: var-size(spacing-header);
$spacing-horizontal-page: var-size(spacing-horizontal-page);
$spacing-cell: var-size(spacing-cell);
$spacing-paragraphs: var-size(spacing-paragraphs);
$spacing-section: var-size(spacing-section);
$spacing-sections: var-size(spacing-sections);
$spacing-sponsors: var-size(spacing-sponsors);
$spacing-vertical-menu-main: var-size(spacing-vertical-menu-main);
$spacing-horizontal-menu-main: var-size(spacing-horizontal-menu-main);
