extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/list/list.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug

block config
  -const pageTitle = 'Règles à respecter par toutes et tous'

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Respect
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                          | Lyon Craft est un moment de partages et d'échanges. Cela n'est possible que dans un environnement respectueux de toutes les personnes présentes.
                          | Évidement, tout harcelement, sous quelque forme que ce soit, est totalement interdit.
                      +v-space--line
                        +paragraph Si vous êtes victime ou témoin de harcelement dans un contexte en rapport avec Lyon Craft n'hésitez pas à contacter les orgas (reconnaissables sur place par des brassards oranges ou sur #[+link('https://discord.gg/T6wJUWW', {target: '_blank'}) notre Discord]).
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Règle des deux pieds
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Si vous n'apprenez rien, que vous n'apportez rien ou simplement que vous en avez envie : prenez vos deux pieds et partez faire autre chose.
                      +v-space--line
                        +paragraph Ne vous infligez pas d'être à un endroit ou vous n'avez plus envie d'être.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Règle du pacman
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                          | Au cours de la journée vous échangerez avec des gens en dehors des talks ou des ateliers.
                          | Naturellement, vous allez discuter avec les personnes que vous connaissez en vous positionnant de cette manière (vu du dessus) :
                      +v-space--line
                        +paragraph({align: 'center'}) #[img(src='[[TIKUI_BASEPATH]]/images/pacman/noPacman.webp')]
                      +v-space--line
                        +paragraph
                          | Nous vous invitons à laisser une place dans ce cercle pour qu'une personne qui aurait envie d'échanger avec vous puisse s'inviter dans votre conversation :
                      +v-space--line
                        +paragraph({align: 'center'}) #[img(src='[[TIKUI_BASEPATH]]/images/pacman/aPacman.webp')]
                      +v-space--line
                        +paragraph Chaque fois qu'une nouvelle personne vous rejoins, vous pouvez rouvrir le pacman pour accueillir de nouvelles personnes.
                      +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Utilisation des toilettes
                  +v-space--line
                    +v-space('paragraphs')
                      +paragraph Les toilettes de « l’étage » sont mixte, les toilettes en rez-de-Saône sont à utiliser selon les affichages sur les portes.
                        +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Vous êtes responsables
                  +v-space--line
                    +v-space('paragraphs')
                      +paragraph
                        | L'équipe d'organisation de la conférence a fait son possible pour que tout se passe pour le mieux.
                        | Sur place, vous êtes responsables du bon déroulement de la journée.
                        | Soyez des humains de qualité !
                      +v-space--line
                        +paragraph Si vous voyez une amélioration que vous pouvez apporter, faites-le, quelques suggestions&nbsp;:
                        +list
                          +list--item un déchet n'est pas dans une poubelle&nbsp;: jetez le&nbsp;;
                          +list--item vous voyez une personne mal à l'aise pour entrer dans les discussions&nbsp;: proposez lui d'être son/sa #[+link('https://www.conferencebuddy.io/', {target: '_blank'}) conférence buddy] en l'accompagnant pour échanger avec les participant·e·s&nbsp;;
                          +list--item un·e participant·e intervient maladroitement dans un atelier&nbsp;/&nbsp;un talk&nbsp;: proposer de prendre le temps de répondre à ses questions après la session pour ne pas prendre de temps au groupe.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html')
                  +button--icon('left')
                  | Retour à l'accueil
