@use '../../token/radius';
@use '../../token/size';
@use '../../token/color';

.speaker-picture {
  box-sizing: border-box;
  border-radius: radius.$picture;
  box-shadow: 0 0 0.5rem color.$text;
  max-width: 100%;
  height: auto;
}
