mixin button(link, options)
  -const {target, display, size} = options || {};
  -const displayClass = display ? `-${display}` : null;
  -const sizeClass = size ? `-${size}` : null;
  a.button(href=link target=target class=[displayClass, sizeClass])
    block

mixin button--icon(name)
  span.button--icon(class=`icon-${name}`)
