mixin title-section(options)
  -const {id, orientation} = options || {};
  -const classes = [orientation].filter(name => name !== undefined).map(name => `-${name}`);
  h2.title-section(id=id class=classes)
    span.title-section--text
      block
