.social-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &.-vertical {
    flex-direction: column;
    gap: 1.5rem;

    &.-right {
      align-items: flex-end;
    }
  }
}
