include /atom/button-social/button-social.mixin.pug

mixin social-bar(options)
  -const {orientation, align} = options || {};
  -const orientationClass = orientation ? `-${orientation}` : null;
  -const alignClass = align ? `-${align}` : null;
  ul.social-bar(class=[orientationClass, alignClass])
    block

mixin social-bar--entry
  li.social-bar--entry
    block

mixin social-bar-exemple(options)
  +social-bar(options)
    +social-bar--entry
      +button-social('meetup', '#') Meetup
    +social-bar--entry
      +button-social('discord', '#') Discord
