include /atom/link/link.mixin.pug
include /atom/icon-tag/icon-tag.mixin.pug

mixin program
  .program
    block

mixin program--slot-hour
  .program--slot.-hour
    block
mixin program--slot-room(room, collapse, slug)
  -const collapseClass = collapse ? `-c-${collapse}` : null;
  -const selector = slug ? 'a' : 'div';
  -const href = slug ? `[[TIKUI_BASEPATH]]sessions/${slug}.html` : null;
  #{selector}.program--slot(class=[`-room-${room}`, collapseClass] href=href id=slug)
    block

mixin program--slot-session(options)
  -const {where, collapse, title, speaker, start, end, location, duration, slug, laptop} = options || {};
  -
    const locationEntries = {
      all: 'Halle',
      1: 'Halle',
      2: 'Murmures',
      3: 'Escale',
      4: 'P & Play',
    }
  -const whereKey = where?.toString();
  -const whereLocations = new Map(Object.entries(locationEntries))
  +program--slot-room(where, collapse, slug)
    .program--content
      h3.program--title=title
      if speaker
        .program--speaker=speaker
      if laptop
        .program--requirements
          +icon-tag('Un ordinateur portable est nécessaire pour cette session', 'laptop')
    .program--venue
      p.program--tuple
        strong.program--location=location || whereLocations.get(whereKey)
        if duration
          em.program--duration=duration
      p.program--tuple
        span.program--start=start
        span.program--end=end

mixin program--slot-break(room, collapse)
  -const collapseClass = collapse ? `-c-${collapse}` : null;
  .program--slot.-break(class=[`-room-${room}`, collapseClass])
    block

mixin program-2024
  +program
    +program--slot-session({
      title: 'Accueil / petit déj.',
      where: 'all',
      location: 'Galerie',
      start: '08h30',
      end: '09h15',
    })

    +program--slot-session({
      title: 'Ouverture',
      where: 'all',
      start: '09h15',
      end: '09h45',
      duration: '30min',
      speaker: 'Organisateurs & Sponsors'
    })

    // 9h45
    +program--slot-session({
      title: 'Augmentez vos chances d’avoir des équipes à distance soudées',
      where: 1,
      collapse: 3,
      start: '09h45',
      end: '10h30',
      duration: '45min',
      speaker: 'Gregory Alexandre, Charles Bouttaz et Olivier Lequeux',
      slug: 'augmentez-vos-chances-davoir-des-equipes-a-distance-soudees'
    })

    +program--slot-session({
      title: 'Vous prendrez bien une dose de documentation vivante ?',
      where: 2,
      start: '09h45',
      end: '10h05',
      speaker: 'Aurélien Mino',
      duration: '20min',
      slug: 'living-doc',
    })

    +program--slot-session({
      title: 'Mob programming',
      where: 3,
      collapse: 9,
      laptop: true,
      start: '09h45',
      end: '12h20',
      duration: '2h35',
      speaker: 'Anne Jacquet et Nolwenn Doucet',
      slug: 'mob-programming',
    })

    +program--slot-session({
      title: 'L’architecture héxagonale autrement, Une explication from the bottom-up',
      where: 4,
      collapse: 3,
      start: '09h45',
      end: '10h30',
      duration: '45min',
      speaker: 'Julien Lenormand',
      slug: 'archi-hexa',
    })

    // 10h05
    +program--slot-break(2)

    // 10h15
    +program--slot-session({
      title: 'Initiation aux Tests de Composants avec Cypress',
      where: 2,
      collapse: 7,
      laptop: true,
      start: '10h15',
      end: '12h20',
      duration: '2h05',
      slug: 'initiation-aux-tests-de-composants-avec-cypress',
      speaker: 'Arnaud Freismuth Jean-Marie Triomphe',
    })

    // 10h30
    +program--slot-break(1)
    +program--slot-break(4)

    // 10h40
    +program--slot-session({
      title: 'Restez Zen en codant ! (Trucs et astuces)',
      where: 1,
      start: '10h40',
      end: '11h25',
      duration: '45min',
      slug: 'restez-zen-en-codant',
      speaker: 'Léa Coston Matthieu Sauboua-Beneluz',
    })

    +program--slot-session({
      title: 'Le TDD : du Kata à la Production',
      where: 4,
      start: '10h40',
      end: '11h25',
      duration: '45min',
      slug: 'le-tdd-du-kata-a-la-production',
      speaker: 'Maxime Dezette',
    })

    // 11h25
    +program--slot-break(1)
    +program--slot-break(4)

    // 11h35
    +program--slot-session({
      title: 'Adoption du Trunk Based Dev chez Indy',
      where: 1,
      collapse: 3,
      start: '11h35',
      end: '12h20',
      duration: '45min',
      slug: 'adoption-du-trunk-based-dev-chez-indy',
      speaker: 'Romain Koenig',
    })

    +program--slot-session({
      title: 'Il n’est jamais trop tard pour redevenir junior',
      where: 4,
      start: '11h35',
      end: '11h55',
      duration: '20min',
      speaker: 'Yann Bouvet',
      slug: 'il-n-est-jamais-trop-tard-pour-redevenir-junior',
    })

    // 11h55
    +program--slot-break(4)

    //12h05
    +program--slot-session({
      title: 'Parlez-vous "langage de programmation" ?',
      where: 4,
      start: '12h05',
      end: '12h20',
      speaker: 'Matthias Gatier',
      duration: '15min',
      slug: 'langage-prog',
    })

    // 12h20
    +program--slot-session({
      title: 'Pause midi',
      where: 'all',
      location: 'Galerie',
      start: '12h20',
      end: '13h45',
    })

    //13h45
    +program--slot-session({
      title: 'Viens, on fait un talk !',
      where: 1,
      start: '13h45',
      end: '14h05',
      duration: '20min',
      slug: 'viens-on-fait-un-talk',
      speaker: 'Houleymatou Baldé Colin Damon'
    })

    +program--slot-session({
      title: 'EventStorming',
      where: 2,
      collapse: 5,
      start: '13h45',
      end: '15h55',
      duration: '2h10',
      slug: 'eventstorming'
    })

    +program--slot-session({
      title: 'Mob 2',
      where: 3,
      collapse: 5,
      laptop: true,
      start: '13h45',
      end: '17h15',
      duration: '3h30',
      slug: 'mob-am',
      speaker: 'Ando Nary Gautier Di Folco'
    })

    +program--slot-session({
      title: 'Highway to fail, ou l’histoire d’un échec prévisible',
      where: 4,
      collapse: 3,
      start: '13h45',
      end: '15h00',
      duration: '1h15',
      speaker: 'Céline Louvet',
      slug: 'highway-to-fail'
    })

    // 14h05
    +program--slot-break(1)

    // 14h15
    +program--slot-session({
      title: 'Redécouverte professionnelle : DDD et Product, piliers d\'une transformation Craft',
      where: 1,
      start: '14h15',
      end: '15h00',
      duration: '45min',
      speaker: 'Damien Carbonelli',
      slug: 'transformation-craft'
    })

    // 15h
    +program--slot-break(1)
    +program--slot-break(4)

    // 15h10
    +program--slot-session({
      title: 'Une architecture pour tester votre frontend',
      where: 1,
      start: '15h10',
      end: '15h55',
      duration: '45min',
      speaker: 'Alexia Souvane',
      slug: 'architecture-pour-tester-votre-frontend'
    })

    +program--slot-session({
      title: 'Mieux collaborer avec les testeurs grâce au Behavior Driven Development',
      where: 4,
      start: '15h10',
      end: '15h55',
      duration: '45min',
      speaker: 'Édouard Mangel et Davy Metangmo',
      slug: 'mieux-collaborer-avec-les-testeurs-grace-au-bdd'
    })

    // 15h55
    +program--slot-session({
      title: 'Pause goûter',
      where: 'all',
      location: 'Galerie',
      start: '15h55',
      end: '16h30',
      duration: '35min',
    })

    // 16h30
    +program--slot-session({
      title: 'Le biomimétisme au secours des dévs',
      where: 1,
      start: '16h30',
      end: '17h15',
      duration: '45min',
      slug: 'le-biomimetisme-au-secours-des-devs',
      speaker: 'Christophe Breheret-Girardin',
    })

    +program--slot-session({
      title: 'Comment faire émerger, développer et maintenir une culture Craft',
      where: 2,
      start: '16h30',
      end: '17h15',
      duration: '45min',
      slug: 'faire-emerger-une-culture-craft'
    })

    +program--slot-session({
      title: 'Mob 2',
      where: 3,
      end: '17h15',
      slug: 'mob-am',
      speaker: 'Ando Nary Gautier Di Folco'
    })

    +program--slot-session({
      title: 'À fond les manettes',
      where: 4,
      start: '16h30',
      end: '17h15',
      duration: '45min',
      slug: 'a-fond-les-manettes',
      speaker: 'Gaspard Pointeau',
    })

    // 17h15
    +program--slot-break('all')

    // 17h35
    +program--slot-session({
      title: 'Conclusion',
      where: 'all',
      start: '17h25',
      end: '17h35',
      duration: '10min',
    })

    +program--slot-session({
      title: 'Apéro',
      where: 'all',
      location: 'Galerie',
      start: '17h35',
      end: '19h00',
    })
