<a class="social-network -white"><i class="icon-meetup"></i><div class="social-network--name">Meetup</div></a><a class="social-network -dark"><i class="icon-discord"></i><div class="social-network--name">Discord</div></a>