@use '../../token/size';
@use '../../token/color';
@use '../../token/breakpoint';
@use '../../token/radius';

.workshop-area {
  display: flex;
  flex-direction: column;
  gap: size.$spacing-section;
  align-items: center;

  &--image {
    position: relative;
    align-self: stretch;
    border-radius: radius.$picture;
    background-size: cover;
    aspect-ratio: 1/1;
  }

  @media screen and (min-width: breakpoint.$standard) {
    display: flex;
    flex-direction: row;
    gap: size.$spacing-horizontal-page;
    align-items: flex-start;

    &--content, &--image {
      flex-basis: 0;
      flex-grow: 1;
    }

    &--image {
      align-self: auto;
      margin: 5% 0;

      &::before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: rotate(-15deg);
        border: 1px solid color.$text;
        border-radius: radius.$picture;
        padding: 0;
        content: '';
      }
    }
  }
}
