extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'À fond les manettes'
  -const pageDescription = 'Comment une manette riche en boutons peut rendre le service d’un clavier pour refactorer un code legacy';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('ji_F3jWLO5I')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Quel est le meilleur clavier pour travailler sur du code Legacy et pourquoi une manette de console ?
                      +v-space--line
                        +paragraph AZERTY ? QWERTY ?
                        +paragraph Qwertz ? Bépo ? Dvorak ?
                        +paragraph Clavier mécanique, clavier matriciel, clavier splitté, clavier ergonomique…
                        +paragraph A-t-on besoin d’autant de boutons pour refactorer du code legacy ?
                      +v-space--line
                        +paragraph Est ce qu'une manette avec une dizaine de boutons ne serait pas amplement suffisante pour 90% de notre travail ?
                      +v-space--line
                        +paragraph Je vous montrerai tout ça avec du live coding refactoring dedans.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Gaspard Pointeau
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Développeur et formateur, il est aussi co-organisateur du meetup
                          |  #[+link('https://www.meetup.com/fr-FR/ardech-drom-dev/', {target:'_blank'}) Ardèch’Drôm Dev].
                          | Vous pouvez le retrouver sur #[+link('https://twitter.com/Gaspard_PO', {target:'_blank'}) X|Twitter].

              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#a-fond-les-manettes')
                  +button--icon('left')
                  | Retour à l'accueil
