extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Adoption du Trunk Based Dev chez Indy'
  -const pageDescription = 'Rapide présentation de la méthode du trunk based development suivi d\'un retour d\'expérience sur son introduction chez Indy.';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('9WVu8DU6KaE')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph=pageDescription
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Romain Koenig
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Je suis cofondateur tech d'#[+link('(https://www.indy.fr/)', {target: '_blank'}) Indy] et
                          |  j'ai porté de multiples casquettes durant cette aventure (dev, lead, CTO, VP Tech, Architecte, RSSI).
                      +v-space--line
                        +paragraph J'ai donc mis en place le TBD chez Indy

              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#adoption-du-trunk-based-dev-chez-indy')
                  +button--icon('left')
                  | Retour à l'accueil
