extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'L’architecture héxagonale autrement, Une explication from the bottom-up';
  -const pageDescription = '';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('GLAK047VNYk')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Les articles que j'ai pu lire sur l'architecture héxagonale m'ont toujours paru très peu clairs. Et le blog de mon entreprise ne fait pas exception. Pourtant, en la pratiquant, j'ai fini par comprendre ce qu'elle représente, comment l'implémenter et surtout pourquoi : quels sont ses avantages mais aussi ses défauts.
                      +v-space--line
                        +paragraph Je voudrais donc vous présenter une explication un peu différente de l'architecture héxagonale : au lieu de partir des grands concepts, on va partir du code, du concret, des problèmes qu'on peut rencontrer dans la vie de tous les jours, et comment les résoudre va nous faire arriver progressivement vers de l'architecture héxagonale.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Julien Lenormand
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph({align: 'center'})
                          em Ingénieur DevOps et Responsable Software à Kaizen Solutions
                      +v-space--line
                        +paragraph Développeur Python convaincu par l'Agile, le Craft, Accelerate et la philosophie grecque antique.
                      +v-space--line
                        +paragraph Consultant dans de grands groupes industriels (SNCF, EDF, Thales, Schneider).
                      +v-space--line
                        +paragraph Meetupeur grenoblois investi : Human Talks, Python, Craft et Web.
                      +v-space--line
                        +paragraph Organisateur d'évènements, speaker et accompagnant technique à Kaizen Solutions.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#archi-hexa')
                  +button--icon('left')
                  | Retour à l'accueil
