extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /atom/list/list.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Une architecture pour tester votre frontend'
  -const pageDescription = 'Découvrir comment tester le comportement de votre frontend plus que son implémentation';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('9wrfBxrhb5g')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                          |Dans le monde du développement, tout le monde parle de test : « Si tu n’écris pas de test, ton code ne peut pas être de qualité ».
                          | Tester unitairement son backend semble approprié car il contient une grande partie du cœur métier.
                      +v-space--line
                        +paragraph Mais est-ce aussi simple côté frontend ? Où l’on doit gérer un état, le garder synchronisé avec les données provenant de sources distantes et afficher le tout à l'utilisateur. Il y a bien quelques logiques d’affichage et transformations de données, mais les tester unitairement semble parfois difficile et ne semble pas toujours couvrir la globalité d’un comportement, de l’interaction utilisateur jusqu’à l’affichage à l’écran.
                      +v-space--line
                        +paragraph Après plusieurs années à travailler sur des projets web et mobile, je montre à travers une démo live en React comment passer d’une architecture difficilement testable à une architecture testée unitairement, couvrant les comportements plus que l’implémentation.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Alexia Souvane
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Alexia Souvane à la montagne enneigée', 'alexia')
                      +v-space--line
                        +paragraph Développeuse web et mobile depuis 5 ans, j’ai commencé en tant que fullstack mais, avec le temps, j’ai développé une appétence pour les problématiques frontend. Comment maîtriser les complexités grâce à l'architecture logicielle, quelle stratégie de tests mettre en place pour couvrir la globalité des comportements, comment construire un design system adapté, sont des questions qui me passionnent.
                      +v-space--line
                        +paragraph Je suis actuellement en poste chez #[+link('soignez-moi.ch', {target: '_blank'}) soignez-moi.ch], une entreprise Suisse romande qui propose des services de téléconsultation médicale.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#architecture-pour-tester-votre-frontend')
                  +button--icon('left')
                  | Retour à l'accueil
