extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Augmentez vos chances d’avoir des équipes à distance soudées';
  -const pageDescription = '';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('SudP5o7PemQ')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph N’avez-vous jamais entendu voire exprimé des choses comme : “C’était plus simple quand on était tous au même endroit”, “En meeting je me sens seul•e, personne ne participe”, “J’en ai marre de jamais voir aucune tête", “J’ai une nouvelle personne dans l’équipe, elle n’arrive pas à s’intégrer”.
                      +v-space--line
                        +paragraph Cadre favorisant le collectif, outils à distance, recrutement et onboarding sont autant de sujets que nous adresserons dans cette session.
                      +v-space--line
                        +paragraph Charles nous présentera des éléments tirés de ce qui a été mis en place dans son équipe chez EnergyPool. Grégory quant à lui nous partagera ses critiques positives ou négatives de ce qu’il a observé dans les différents contextes auxquels il a eu l’occasion d’assister.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Grégory Alexandre
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Grégory Alexandre', 'gregory')
                      +v-space--line
                        +paragraph({align: 'center'})
                          em Coach agile chez Goood!
                      +v-space--line
                        +paragraph Je suis coach agile, organisationnel et produit chez Goood! et co-gérant de l’agence lyonnaise.
                      +v-space--line
                        +paragraph J’ai découvert l’agilité il y a 15 ans en tant que développeur, après avoir été chef de projet, Scrum Master, Product Owner, QA… j’accompagne aujourd’hui les équipes, les services, les entreprises et les individus à devenir plus agiles.
                      +v-space--line
                        +paragraph D’un point de vue systémique, l’agilité c’est faire des petites actions locales en ayant en vue le système global et c’est cette vue que j’apporte aux personnes que j’accompagne.
                      +v-space--line
                        +paragraph Mes pratiques préférées ? Celles provenant des méthodes agiles, du lean et du kanban, de la facilitation, de l’étude systémique, le jeu pédagogique et la gamification.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Charles Bouttaz
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Charles Bouttaz', 'charles')
                      +v-space--line
                        +paragraph({align: 'center'})
                          em Lead developer, crafter, agilitateur
                      +v-space--line
                        +paragraph Développeur depuis 15 ans, tombé dans la marmite du craft et de l'agilité depuis 10 ans et pas prêt d'en sortir !
                      +v-space--line
                        +paragraph Ses domaines de prédilection : le code de qualité, les tests et tous les trucs en DD (TDD, BDD, DDD).
                      +v-space--line
                        +paragraph Ne le lancez pas sur eXtreme programming, Kanban ou l'organisation d'entreprise il vous tiendrait la jambe toute la soirée.
                      +v-space--line
                        +paragraph Le jour il est lead dev / manager / scrum master d'une équipe distribuée pour Energy Pool, la nuit il enfile son masque d'organisateur du Lyon Java User Group ou de la conférence MiXiT.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#augmentez-vos-chances-davoir-des-equipes-a-distance-soudees')
                  +button--icon('left')
                  | Retour à l'accueil
