extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/list/list.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'EventStorming';
  -const pageDescription = 'Atelier EventStorming - Description';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph EventStorming est un atelier idéal pour la découverte d'un problème. Il a été inventé par Alberto BRANDOLINI.
                      +v-space--line
                        +paragraph La grande idée de cet atelier est de se concentrer d'abord sur les évènements avant de passer aux actions !
                      +v-space--line
                        +paragraph Pour cette initiation, nous choisirons la problématique métier à étudier en début de session.
                      +v-space--line
                        +paragraph Pas besoin de PC puisque tout se fait avec des posts-it sur un mur.
                      +v-space--line
                      +v-space--line
                        +paragraph Nous avons la chance d'accueillir 2 associations pour présenter leur problématique métier. Les participants seront répartis en deux groupes par conséquent.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Association SOS Familles d'Accueil et de Soutien
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph SOS FAS est une association qui vient en aide en complément de l'action sociale française auprès des mineurs et des familles de migrants isolés sur le territoire français. Historiquement, l'association proposait de placer d'urgence des enfants issus de l'immigration, isolés et à la rue, dans des familles françaises. Cette action permettait de les intégrer plus rapidement et de les protéger en attendant que l'Action Sociale à l'Enfance prenne le relai. Au fil du temps, l'association s'est élargie pour trouver des solutions d'hébergement, accompagner les démarches administratives et distribuer de la nourriture à des familles entières.
                      +v-space--line
                        +paragraph Sans entrer dans un enjeu politique, notre association estime que laisser des migrants à la rue ne peut que les pousser vers la délinquance et la misère. Nous nous engageons à les aider, quelle que soit l'issue de leur séjour en France décidée par le gouvernement. L'association opère principalement en Haute-Loire. Ces dernières années, des centaines d'individus et des dizaines de familles (majoritairement ukrainiennes) ont pu être logés en urgence et accompagnés dans leurs démarches.
                      +v-space--line
                        +paragraph Contact: sosfas43 [at] gmail.com
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Association YEESO
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Yeeso l'avenir de l'IT avec les femmes !
                      +v-space--line
                        +paragraph IT Woman Movement, nouvellement Yeeso est une association loi 1901 qui œuvre pour l'équité professionnelle Femmes - Hommes, en particulier dans le domaine informatique. Yeeso veut rendre le monde de l'IT plus juste et équitable entre les femmes et les hommes en apprenant à toutes et à tous à croire en soi et en les autres dès la scolarisation et dans la vie des entreprises. Notre mission est d'accélérer la féminisation des équipes informatiques, en redonnant confiance aux femmes afin qu'elles choisissent leur place dans l'IT. Pour déconstruire les préjugés, inspirer et accompagner notre démarche, IT WOMAN by YEESO, le réseau de rôle-modèle et de mentorat d'itWomen de l'association.
                      +v-space--line
                        +paragraph Animatrice de l'atelier: Ornella Del Prado, Yeeso Leader - Linkedin #[+link('https://www.linkedin.com/in/ornella-del-prado-7302a9aa/') @Ornella Del Prado]
                      +v-space--line
                        +paragraph Contact:
                      +v-space--line
                        +list
                          +list--item Site internet : #[+link('https://yeeso.fr') yeeso.fr]
                          +list--item Linkedin de l'association : #[+link('https://www.linkedin.com/company/it-women/') @YEESO]
                          +list--item Linkedin du réseau : #[+link('https://www.linkedin.com/company/it-women-yeeso/') @IT WOMAN by YEESO*]
                          +list--item Email : contact [at] yeeso.fr
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#highway-to-fail')
                  +button--icon('left')
                  | Retour à l'accueil
