extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Comment faire émerger, développer et maintenir une culture Craft'
  -const pageDescription = 'Comment faire émerger, développer et maintenir une culture Craft à l\'échelle d\'une équipe ou d\'une DSI.';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Interview / table ronde avec 3 invités qui partageront leurs retours d'expérience et leurs convictions : Nicolas Ruffel (Tennaxia) ; Stephane Roset (Enedis) et Adrien Blandin (CTO Freelance)
                        +paragraph Cette session sera animée par Pierre L'Hopitalier, créateur du podcast #[+link('https://podcast.ausha.co/cto-z-1', {target:'_blank'}) CTO'Z] , et enregistrée en public pour être redifusée dans le cadre du podcast #[+link('https://podcast.ausha.co/cto-z-1', {target:'_blank'}) CTO'Z].
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Adrien Blandin
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Adrien Blandin', 'adrien')
                      +v-space--line
                        +paragraph
                          | Adrien a consacré ces dernières années à la conception de produits de qualité.
                          | D’abord au sein de start-ups reconnues (ingénieur chez #[+link('https://batch.com/fr', {target:'_blank'}) Batch] & #[+link('https://www.dougs.fr/', {target:'_blank'}) Dougs], CTO chez #[+link('https://www.lepermislibre.fr/', {target:'_blank'}) lePERMISLIBRE]),
                          | puis en créant son entreprise pour apporter son expertise à de nombreuses start-ups en tant que CTO à temps partagé.
                  +v-space--line
                    +title-section Stéphane Roset
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Stéphane Roset', 'stephane')
                      +v-space--line
                        +paragraph
                          | J'ai démarré ma carrière en tant que développeur Java en ESN où j'ai eu l'opportunité de travailler dans les domaines de la santé, du transport et de l'énergie.
                          | Je suis désormais Staff Engineer chez Enedis et je m'intéresse aux pratiques Craft depuis deux ans.
                  +v-space--line
                    +title-section Nicolas Ruffel
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Nicolas Ruffel', 'nicolas')
                      +v-space--line
                        +paragraph
                          | Manager d'équipe de devs depuis 24 ans, coach professionnel, je mets la qualité perçue par les clients et l'humain au cœur de mes pratiques.
                          | Adepte des approches agiles depuis 2003, je suis depuis longtemps convaincu que le Craft est le chainon manquant de l'agilité.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#faire-emerger-une-culture-craft')
                  +button--icon('left')
                  | Retour à l'accueil
