extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Highway to fail, ou l’histoire d’un échec prévisible';
  -const pageDescription = '';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('ulaUZzJEh_Y')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Vous hésitez à vous lancer dans l’aventure de la startup ? Vous vous verriez bien créer votre propre société, mais vous n’osez pas ? En effet, on le sait maintenant, 90 % des start-up font faillite, dont 10 % dès la première année.
                      +v-space--line
                        +paragraph Fin 2017, je rejoignais 2 autres cofondateurs pour créer notre première startup. Et mi-2019, nous mettions la clé sous la porte. Pourquoi ? Entre produit, technique, business et humain, il est parfois difficile d’ajuster le curseur.
                      +v-space--line
                        +paragraph A travers mon retour d’expérience entrepreneuriale, je souhaite revenir sur certaines de nos erreurs et voir s’il aurait été possible de faire autrement. Peut-être que cette introspection pleine d’honnêteté pourra vous permettre d’éviter certains écueils.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Céline Louvet
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Céline Louvet', 'celine')
                      +v-space--line
                        +paragraph Développeuse backend et passionnée, depuis 18 ans, aimant la recherche de stabilité et de qualité d’une application.
                      +v-space--line
                        +paragraph Spécialisée sur les architectures cloud, avec une appétence pour les langages fonctionnels.
                      +v-space--line
                        +paragraph Actuellement lead developer chez Shine.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#highway-to-fail')
                  +button--icon('left')
                  | Retour à l'accueil
