extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/list/list.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Il n’est jamais trop tard pour redevenir junior'
  -const pageDescription = 'Yann décrira sa rencontre avec le dur mur de la réalité alors qu’il était, peut-être, champion de son quartier. Il nous expliquera comment il a su rebondir et devenir un meilleur professionnel.';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('bA1dBaIn3hw')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                          | Je suis développeur en Entreprise de Service Numérique (ESN) depuis 6 ans. Je suis sûr de moi et de mes compétences. Pour moi, le Domain-Driven Design (DDD)
                          | et l’architecture hexagonale ne sont que des buzzwords, un effet de mode que mes amis junior développeur.euse.s utilisent. On me demande en entretien de justifier
                          | l’intérêt de découpler l’infrastructure du code métier et si je pratique le Test-Driven Development (TDD). Je me fais ramasser, c’est la première fois que ça
                          | m’arrive. Je suis complètement perdu et découvre un nouvel océan de bonnes pratiques : le Software craftsmanship.
                      +v-space--line
                        +paragraph
                          | Comment se relever après une expérience comme celle-ci ? Comment sortir de sa zone de confort pour réinventer sa façon de travailler ? Comment mettre
                          | l'égo de côté pour apprendre de développeur.euse.s plus jeunes et/ou avec moins d'années d'expérience que nous ?
                      +v-space--line
                        +paragraph Il n'est jamais trop tard pour repartir de zéro ! À travers mon expérience, je vais vous donner les étapes simples qui m’ont permis de changer mes pratiques rapidement :
                      +list
                        +list--item comment j’ai utilisé une méthode d'amélioration continue pour facilement mettre en place et suivre l’évolution de mes pratiques ;
                        +list--item comment trier et sélectionner des ressources efficacement ;
                        +list--item comment se mettre dans une position pour apprendre de tout le monde ;
                        +list--item comment valoriser l’expérience précédemment accumulée.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Yann Bouvet
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Yann Bouvet lors d’une conférence', 'yann')
                      +v-space--line
                        +paragraph Développeur fullstack chez #[+link('https://www.lowit.fr', {target:'_blank'}) Lowit], je m’intéresse particulièrement aux relations entre les systèmes informatiques et les humains.
                      +v-space--line
                        +paragraph J’adore mon métier qui me permet d’apprendre continuellement.
                      +v-space--line
                        +paragraph Pendant longtemps spectateur, je me lance maintenant en tant que speaker avec cette conférence.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#il-n-est-jamais-trop-tard-pour-redevenir-junior')
                  +button--icon('left')
                  | Retour à l'accueil
