extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Initiation aux Tests de Composants avec Cypress'
  -const pageDescription = 'Vous souhaitez tester des éléments complexes de votre front ? Tester l’interface de votre application ? Éviter les régressions UI/UX ? Et tout ça en TDD ? Eh ben c’est possible avec les tests de composants selon Martin Fowler !';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Vous souhaitez tester des éléments complexes de votre front ? Tester l’interface de votre application ? Éviter les régressions UI/UX ? Et tout ça en TDD ?#[br]
                          | Eh ben c’est possible avec les tests de composants selon Martin Fowler !
                      +v-space--line
                        +paragraph Nous commencerons par dégrossir le sujet avec une présentation de ces tests bien trop méconnus. Nous présenterons l’outil Cypress pour les mettre en place.#[br]
                          | Nous vous proposons ensuite de les découvrir par vous-même sur une petite application web en ajoutant des tests sur de l’existant et en ajoutant une nouvelle fonctionnalité en TDD.
                      +v-space--line
                        +paragraph #[strong Prérequis :] pour cette session, la dernière version #[+link('https://nodejs.org/', {target: '_blank'}) LTS de Node.js] ainsi que #[+link('https://git-scm.com/', {target: '_blank'}) Git] sont nécessaires.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Arnaud Freismuth
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Être artisan de nos jours ? Quelle étonnante idée… J’ai redécouvert mon métier avec le Software Craftsmanship !
                      +v-space--line
                        +paragraph Développeur passionné par le Front, j’aime particulièrement mettre de la qualité dans le design, l’accessibilité et l’architecture de mes applications web.
                      +v-space--line
                        +paragraph Entouré par de nombreux passionnés chez Ippon Technologies, je ne cesse d’apprendre et découvrir de nouvelles bonnes pratiques. À mon tour de vous partager quelques petits conseils et astuces.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Jean-Marie Triomphe
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Développeur après une reconversion, je me suis un peu cherché et j'ai longuement erré dans l'univers du développement d'applications web, entre le développement d'applications back, front et même jusqu'à faire de l'UX/UI. On va dire que dernièrement je me suis beaucoup concentré sur des sujets front end en Typescript et VueJS.
                      +v-space--line
                        +paragraph Un beau jour j'ai rencontré un crafter (oui c'est une histoire qui finit bien), les discussions qui ont suivi et les travaux qui en ont découlés ont permis de résoudre de nombreuses problématiques de mon quotidien. J'essaye après cette prise de conscience de mieux les assimiler, de les mettre en pratique et derrière bien sûr c'est un vrai plaisir d'échanger et de partager dessus.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#initiation-aux-tests-de-composants-avec-cypress')
                  +button--icon('left')
                  | Retour à l'accueil
