extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Parlez-vous "langage de programmation" ?';
  -const pageDescription = '';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('lSfP6QTtNag')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Est-ce que vous connaissez les langages naturels, les langages construits et les langages logiques ?
                      +v-space--line
                        +paragraph Imaginons que nous puissions nous comprendre parfaitement et sans incompréhension. Une utopie ?
                      +v-space--line
                        +paragraph Utilisons toutes les techniques à notre disposition pour éviter les bugs.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Matthias Gatier
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Développeur freelance fullstack, ex ingénieur BTP, je m'intéresse aux briques logicielles et à l'architecture de solution.
                      +v-space--line
                        +paragraph Ma question préférée : Comment incorporer le métier dans le code ?
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#langage-prog')
                  +button--icon('left')
                  | Retour à l'accueil
