extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/list/list.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Le biomimétisme au secours des dév'
  -const pageDescription = 'Le biomimétisme, qui tire inspiration et solutions de la nature pour résoudre des défis humains, offre une perspective novatrice pour le développement logiciel. Cette présentation explorera comment le biomimétisme peut être une source d’inspiration pour la collaboration entre les membres de votre équipe, pour la posture à adopter, pour détecter les bugs au plus tôt, pour améliorer votre design ou une explication plus compréhensible des principes SOLID';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('yE4w8rrpMCg')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Le biomimétisme, qui tire inspiration et solutions de la nature pour résoudre des défis humains, offre une perspective novatrice pour le développement logiciel.
                      +v-space--line
                        +paragraph Cette présentation explorera comment le biomimétisme peut être une source d'inspiration pour la collaboration entre les membres de votre équipe, pour la posture à adopter, pour détecter les bugs au plus tôt, pour améliorer votre design ou une explication plus compréhensible des principes SOLID :
                      +v-space--line
                        +list
                          +list--item L’éradication des tests pastèques et le darwinisme
                          +list--item Le syndrome de la méduse immortelle
                          +list--item Le figuier étrangleur
                          +list--item Le principe de la fourmi rousse des bois
                          +list--item La danse TDD de l’abeille
                          +list--item Le principe de dispersion du criquet migrateur
                          +list--item La singularité de l'orchidée
                          +list--item L’adaptabilité harmonieuse du caméléon
                          +list--item La diversité de la prairie
                          +list--item L’interdépendance symbiotique de l'abeille et de la fleur
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Christophe Breheret-Girardin
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Christophe Breheret-Girardin souriant avec les bras croisés', 'christophe')
                      +v-space--line
                        +paragraph Coach craft, auteur, formateur, enseignant, conférencier, et créateur de contenu, Christophe partage avec enthousiasme ses connaissances, afin d’inspirer et de guider chacun vers son plein potentiel.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#le-biomimetisme-au-secours-des-devs')
                  +button--icon('left')
                  | Retour à l'accueil
