extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Le TDD : du Kata à la Production'
  -const pageDescription = 'Montrer comment faire du TDD dans des contextes proches de notre quotidien. L’objectif est de donner quelques réponses aux personnes qui se demandent comment appliquer cette pratique dans « la vraie vie »';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('QSs7lt9WGIU')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Je vous montrerai comment faire du TDD dans des contextes proches de notre quotidien.
                      +v-space--line
                        +paragraph Mon objectif est de donner quelques réponses aux personnes qui se demandent comment appliquer cette pratique dans « la vraie vie ».
                      +v-space--line
                        +paragraph Pour illustrer le propos, et dans l’idée de rester le plus concret possible, j’ajouterai une fonctionnalité en live coding dans une application constituée d’un frontend et d’une API Rest.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Maxime Dezette
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph({align: 'center'})
                          em Développeur passionné à OSPI Lyon
                      +v-space--line
                        +paragraph J’ai eu de la chance d’être sensibilisé à la qualité logicielle durant ma formation. C’est donc naturellement que je me suis intéressé très tôt au Craft. Je pratique le TDD depuis que j’ai commencé à travailler et comme ça fonctionne pour moi, je continue.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#le-tdd-du-kata-a-la-production')
                  +button--icon('left')
                  | Retour à l'accueil
