extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Vous prendrez bien une dose de documentation vivante ?'
  -const pageDescription = 'Vous prendrez bien une dose de documentation vivante ?';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph La documentation vivante (ou living documentation en anglais), vous en avez déjà entendu parler, mais ça reste un peu vague ?
                      +v-space--line
                        +paragraph Je vous propose de partager la réflexion que nous avons eu sur ce sujet, au sein d'un projet Enedis. Et de voir ce que nous avons mis en place pour tendre vers cette documentation qui reste pertinente et à jour au fil du temps.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Aurélien Mino
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Développeur Java @#[+link('https://www.sully-group.com/', {target:'_blank'}) Sully Group], adepte des pratiques en xDD et du craft.
                        +paragraph La nuit je suis co-mainteneur de @#[+link('https://github.com/jhipster/jhipster-lite', {target:'_blank'}) jhipster-lite] ou en train de contribuer à d'autres projets open-source.

              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#living-doc')
                  +button--icon('left')
                  | Retour à l'accueil
