extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/list/list.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Mieux collaborer avec les testeurs grâce au Behavior Driven Development';
  -const pageDescription = 'L’agilité cache souvent un cycle en V. Nous montrerons que la coopération et les partenariats productif entre l’ensemble des membres de l’équipe de réalisation, notamment via le BDD, permet une bonne vélocité.';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('xZWJn9PcI_g')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph L’adoption de l’Agilité par les organisations est de plus en plus prégnante dans notre société.
                          |  Néanmoins, nous observons régulièrement qu’en matière de tests, les pratiques évoluent peu. Le manque de collaboration entre dévs et testeurs·euses,
                          |  même lorsque les testeurs ou testeuses sont intégré·e·s dans l’équipe, les tests sont effectués à la fin et l’on se retrouve avec le fameux effet tunnel.
                          |  Ceci engendre des goulots d’étranglement et impacte la capacité de l’équipe à délivrer dans l’itération.
                      +v-space--line
                        +paragraph Au travers de cette présentation, nous souhaitons mettre en exergue comment la collaboration entre Dévs et Testeur·ses peut :
                      +list
                        +list--item Aider à réduire le gaspillage
                        +list--item Améliorer la qualité des livrables
                        +list--item Accélérer la vitesse de mise en production
                        +list--item Améliorer l’agilité
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Davy Metangmo
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph({align: 'center'}) Consultant Test Logiciel et formateur indépendant, j’évolue dans ce domaine depuis +10 ans.
                      +v-space--line
                        +paragraph Curieux de nature, je m’intéresse à tout ce qui peut faire évoluer mon métier et mon approche pour tester des applications. C’est ainsi qu’avec l’essor des pratiques Agiles et du DevOps, j’ai pu mettre en œuvre dans des organisations des pratiques qui favorisent l’intégration des tests dans les équipes et la collaboration entre Dévs et testeurs·euses (holistique testing, BDD, etc.).
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Édouard Mangel
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Édouard Mangel en selfie', 'edouard')
                      +v-space--line
                        +paragraph Développeur depuis une dizaine d’années et formateur depuis 2019, je m'intéresse à toutes les techniques et méthodes qui permettent de concevoir de meilleurs logiciels pour les utilisateurs.
                      +v-space--line
                        +paragraph Après quelques années à p*sser du code pour satisfaire un cahier des charges, j'ai repris du plaisir à faire mon métier quand j'ai découvert le craft, et sa promesse d'utiliser le code pour satisfaire au mieux les utilisateurs.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#mieux-collaborer-avec-les-testeurs-grace-au-bdd')
                  +button--icon('left')
                  | Retour à l'accueil
