extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/list/list.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Mob Programming'
  -const pageDescription = 'Venez vous exercer au TDD en mob !';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph=pageDescription
                      +v-space--line
                        +paragraph Nous serons plusieurs autour d’un écran : un.e #[em Driver] qui code, sa/son #[em Navigator] qui le.a guide et l’assistance qui oriente le.a #[em Navigator]. Au bout de quelques minutes, le.a #[em Driver] rejoint l’assistance, le.a #[em Navigator] devient #[em Driver] et quelqu’un.e de l’assistance devient #[em Navigator].
                      +v-space--line
                        +paragraph 3 kata feront partie de cette session : 1 kata d’introduction, 1 kata de refactoring et 1 kata plus avancé.
                      +v-space--line
                        +paragraph Le language est libre, il sera choisi en début de la session et pourra varier entre les kata.
                        +paragraph Tout le monde est libre de rejoindre ou de quitter l’assistance à tout moment.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Anne Jacquet
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Développeuse depuis 5 ans et convaincue par l’approche DDD, j’aime créer des produits, progresser dans mon utilisation des pratiques craft et transmettre ce que j'apprends.
                  +v-space--line
                    +title-section Nolwenn Doucet
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Développeur plutôt back chez Ideme. Je fais parti des co-organisateurs des crafters de Lyon et j’aime bien le vélo. Si vous voulez des parcours bucoliques et pas plat sur les routes du coin, j’ai de quoi faire.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#mob-programming')
                  +button--icon('left')
                  | Retour à l'accueil
