extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Mob 2';
  -const pageDescription = '';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                          | Nous allons réaliser un #[em code kata] en #[em software teaming].
                          | Nous nous pencherons sur le jeu de la vie (possiblement en Java, TypeScript, Haskell, Rust ou Ruby en fonction des participant(e)s).
                          | Venez et partez quand vous le souhaitez.
                      +v-space--line
                        +paragraph
                          ul
                            li #[+link('https://fr.wikipedia.org/wiki/Kata_(programmation)', {target:'_blank'}) Code kata] : exercice de code où le sujet est un prétexte à étudier une pratique (ici TDD) sur du code qui ne partira pas en production (donc en toute sécurité)
                            li #[+link('https://fr.wikipedia.org/wiki/Coding_dojo', {target:'_blank'}) Coding dojo] : Un coding dojo est l’occasion de s’exercer sur un code kata
                            li #[+link('https://fr.wikipedia.org/wiki/Test_driven_development#Processus_cyclique_de_d%C3%A9veloppement', {target:'_blank'}) Test-Driven Development (TDD)] : approche systémique de développement, on commence par déclarer une intention avec un test rouge, puis on produit une implémentation naïve, lorsque le test passe au vert, on peut faire du refactoring, puis on crée un nouveau test, etc.
                            li #[+link('https://refactoring.com/', {target:'_blank'}) Refactoring] : changement dans le code qui ne change pas le comportement
                            li #[+link('https://softwareteaming.com/', {target:'_blank'}) Software teaming (anciennement mob programming)] : lorsque plusieurs personnes se regroupent pour avancer sur un problème nécessitant un développement, il y a deux rôles tournant toutes les 5 minutes, le driver (qui est au clavier et suit les instructions du navigator) et le navigator (qui donne ses directions au driver en s'appuyant sur les autres membres)
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Jeu de la vie (Game of Life)
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Le #[+link('https://fr.wikipedia.org/wiki/Jeu_de_la_vie', {target:'_blank'}) Jeu de la vie] est un kata classique tiré de l'automate cellulaire imaginé par John Horton Conway en 1970.
                      +v-space--line
                        +paragraph Il se compose de quatres règles:
                        +paragraph
                          ul
                            li Toute cellule vivante ayant moins de deux voisins vivants meurt, comme par sous-population.
                            li Toute cellule vivante ayant deux ou trois voisins vivants survit à la génération suivante.
                            li Toute cellule vivante ayant plus de trois voisins vivants meurt, comme par surpopulation.
                            li Toute cellule morte ayant exactement trois voisines vivantes devient une cellule vivante, comme par reproduction.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Ando Nary
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                          | Développeur foolstack, je pensais que le plus important était le code lui-même. En vrai, celui-ci dépend de beaucoup de choses qui gravitent autour. Ce qui m'a convaincu d'aller adopter la culture du Software Craftsmanship.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Gautier Di Folco
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Développeur fasciné par le monde de la programmation fonctionnelle (Haskell).
                        +paragraph
                          | #[+link('https://www.linkedin.com/in/gautier-di-folco/', {target:'_blank'}) LinkedIn] /
                          | #[+link('https://twitter.com/gautier_difolco', {target:'_blank'}) Twitter] /
                          | #[+link('https://github.com/blackheaven/', {target:'_blank'}) Github] /
                          | #[+link('https://gautier.difolco.dev/', {target:'_blank'}) Site perso]
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#highway-to-fail')
                  +button--icon('left')
                  | Retour à l'accueil
