extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Restez Zen en codant ! (Trucs et astuces)'
  -const pageDescription = 'Notre conférence propose une approche naïve du développement d\'un algorithme de complexité croissante afin de mettre en lumière les problèmes de charge cognitive que nous rencontrons tous. Chacun a ses limites, et tôt ou tard, nous pouvons tous être confrontés à un court-circuit mental. En exposant ces difficultés, nous jetterons les bases d\'une discussion sur la réduction de la surcharge cognitive grâce à des stratégies de construction de code et à une méthodologie de résolution de problèmes.';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('bhlsItr5NMQ')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Au sein de leur équipe, Léa et Matthieu se trouvent en pair-conflit. Léa aime la complexité des algorithmes, tandis que Matthieu préfère avancer pas à pas pour éviter une surchauffe cognitive. Léa parle en agitant les bras, le regard de Matthieu se vide peu à peu.
                      +v-space--line
                        +paragraph=pageDescription
                      +v-space--line
                        +paragraph Nous passerons en revue ces heuristiques, les illustrant à travers des live-codings et des mises en situation.
                      +v-space--line
                        +paragraph En somme, notre objectif est d'offrir une exploration immersive de la surcharge cognitive, suivie de solutions concrètes pour développer avec un esprit plus léger.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Léa Coston
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Léa lors de sa présentation de "Comment les reconverties peuvent inspirer et enrichir vos équipes"', 'lea')
                      +v-space--line
                        +paragraph({align: 'center'})
                          em Software engineer @SHODOlyon
                      +v-space--line
                        +paragraph Ingénieure, vendeuse de popcorn, prof de maths puis développeuse, je suis arrivée dans “la tech” en 2020 par une formation de reconversion courte. Après de nombreuses péripéties, ce virage professionnel est aujourd’hui une réussite.
                      +v-space--line
                        +paragraph Je vous partage avec beaucoup de plaisir (et une goutte de vitriol) mon point de vue, mes étonnements et stupéfactions concernant cet univers passionnant ainsi que sur celles et ceux qui y travaillent.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Matthieu Sauboua-Beneluz
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line({align: 'center'})
                        +speaker-picture('Matthieu en pleine présentation sur "La Veille techno, késako"', 'matthieu')
                      +v-space--line
                        +paragraph({align: 'center'})
                          em Backend and Mobile engineer @agicap #tenniskata
                      +v-space--line
                        +paragraph Avec huit années d'expérience, je suis un développeur touche-à-tout, passant du Java au C# avant de me plonger dans le monde du mobile. En tant que "vrai faux fullstack", je jongle entre les langages avec agilité ˆˆ.
                      +v-space--line
                        +paragraph Habitué des conférences et des meetups, je m'intéresse particulièrement aux pratiques du craft, bien que je ne sois pas friand des étiquettes.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#restez-zen-en-codant')
                  +button--icon('left')
                  | Retour à l'accueil
