extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Redécouverte professionnelle : DDD et Product, piliers d\'une transformation Craft'
  -const pageDescription = 'Redécouverte professionnelle : DDD et Product, piliers d\'une transformation Craft';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('fI6FaLphAWw')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Je vais vous raconter comment j'ai redécouvert mon métier et regagner une motivation du premier jour pour maximiser mon impact après un saut dans le vide en dehors de ma zone de confort et de connaissance : refondre un SIE grâce à l'approche DDD en réorganisant le projet de 50 personnes autour du craft.
                      +v-space--line
                        +paragraph Cela m'a ouvert les yeux, le Craft ne concerne pas que les devs, il concerne tous les métiers du logiciel.
                      +v-space--line
                        +paragraph Comme rien ni aucune approches/méthodes n'est magique, #SilverBullet, mais que "ça dépend !", je vous ferai donc mon retour d'expérience sur cette transformation en toute honnêteté, les games changer, les difficultés, les étoiles qui s'alignent au fur et à mesure, la découverte du Produit et ses bénéfices pour nos SI.
                      +v-space--line
                        +paragraph @ tout à l'heure ;)
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Damien Carbonelli
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Ingénieur Arts & Métiers et PO/PM depuis bientôt 15 ans, j'évolue depuis le début de ma carrière dans un secteur qui me passionne : L'Énergie !
                        +paragraph Après avoir été AMOA, PO, je suis actuellement PM chez Enedis sur le système de supervision des compteurs Linky
                        +paragraph Mais j'ai depuis peu de nouvelles passions : le Produit et le Craft.
                        +paragraph Pour continuer à progresser quoi de mieux que partager

              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#transformation-craft')
                  +button--icon('left')
                  | Retour à l'accueil
