extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/speaker-picture/speaker-picture.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /atom/youtube-video/youtube-video.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

block config
  -const pageTitle = 'Viens, on fait un talk !'
  -const pageDescription = 'Houleymatou et Colin se motivent mutuellement pour faire un talk !';

block head
  +meta-properties({
    title: pageTitle,
    description: pageDescription
  })

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +youtube-video('UbWO6q0MX_8')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Résumé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                        +paragraph #[strong Colin] : “Houley, viens, on fait un talk !”
                        +paragraph #[strong Houleymatou] : “Hein !!! Mais je n’ai absolument pas le temps, avec IT Woman Movement, ma mission, les filles, …”
                        +paragraph #[strong Colin] : “Non mais un truc qui ne prendra pas de temps, on se croise et on en parle”
                        +paragraph #[strong Houleymatou] : “Je ne veux pas faire un talk pour faire un talk, il faut que ça ait de la valeur !!!”
                        +paragraph #[strong Colin] : “Ça en aura, on se croise où et quand ?”
                        +paragraph #[strong Houleymatou] : “Hum, à l'Embarcadère à 13h45 ?”
                        +paragraph #[strong Colin] : “Parfait, à tout à l’heure”
                      +v-space--line
                        +paragraph
                          | Comment Houleymatou et Colin vont s’y prendre pour créer un talk apportant de la valeur en 20 minutes ?
                          | Venez le découvrir et voir comment vous pouvez, vous aussi, vaincre vos démons, créer un support et partager vos connaissances plus simplement que vous ne l’imaginez !
                      +v-space--line
                        +paragraph
                          | Évidemment, nous évoquerons le syndrome de l’imposteur mais, le sujet étant très largement couvert,
                          | nous nous concentrerons surtout sur la valeur que vous pouvez apporter et sur la réduction du travail de préparation.
                      +v-space--line
                        +paragraph Pour prouver nos dires, nous ferons une introduction au TDD lors d’une présentation largement improvisée et avec le code comme seul support.

              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Houleymatou Baldé
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph Venue d’ailleurs, fille d’analphabètes, surmontant des obstacles : préjugés, patriarcat, inégalités sociales, racisme, sexisme …
                      +v-space--line
                        +paragraph
                          | De orpheline à l’écolière, du théâtre au chronique radio, de l’engagement à l’action, de la série de mon enfance (24h chrono)
                          | au double diplôme d’ingénieur Tech (DEV & DATA), j’ai toujours su bien m’entourer et aller de l’avant.
                      +v-space--line
                        +paragraph Je suis Houleymatou Baldé, co-fondatrice d’IT Woman Movement, conférencière professionnelle et Lead Tech chez NovoDev, un éditeur de logiciel.

                +v-space('section')
                  +v-space--line
                    +title-section Colin Damon
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                          | Développeur surtout Java chez #[+link('https://ideme.fr', {target:'_blank'}) Ideme],
                          | membre de l'orga des #[+link('https://www.meetup.com/fr-FR/software-craftsmanship-lyon/', {target: '_blank'}) Software Crafters Lyon]
                          | j'aime échanger, apprendre, la bière et le métal.

              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html#viens-on-fais-un-talk')
                  +button--icon('left')
                  | Retour à l'accueil
