@use 'header-home-ion';
@use '../../token/color';
@use '../../token/size';
@use '../../token/breakpoint';
@include header-home-ion.text;

.header-home {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color.$background-dark;
  background-position: center;
  background-size: cover;
  padding: size.$spacing-header;
  min-height: 100vh;

  &--menu {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 0;
    left: 0;
    justify-content: center;
  }

  &--social {
    display: none;
  }

  @media screen and (min-width: breakpoint.$standard) {
    aspect-ratio: 9 / 5;
    min-height: auto;

    &--social {
      display: flex;
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
    }
  }
}
