mixin header-home(image)
  header.header-home(style=`background-image: url('${image}')`)
    block

mixin header-home--menu
  .header-home--menu
    block

mixin header-home--content
  .header-home--content
    block

mixin header-home--social
  .header-home--social
    block
