include header-home.mixin.pug
include /atom/title-home/title-home.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/social-bar/social-bar.mixin.pug

+header-home('[[TIKUI_BASEPATH]]images/header.webp')
  +header-home--menu
    +menu-main-example
  +header-home--content
    +title-home({
      date: 'Date',
      description: 'Description',
    }) Title
  +header-home--social
    +social-bar-exemple({orientation: 'vertical', align: 'right'})
