@use '../../token/color';
@use '../../token/font';
@use '../../organism/header-home/header-home-ion';
@include header-home-ion.text('.menu-main-entry');
@include header-home-ion.background-line('.menu-main-entry::after');

.menu-main-entry {
  --_weight: 500;

  position: relative;
  text-decoration: none;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-text;
  font-weight: var(--_weight);

  &::after {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    transform: scale(0);
    transform-origin: center;
    transition: opacity 300ms, transform 300ms;
    background-color: color.$text;
    height: 0.1rem;
    content: '';
  }

  &:hover, &:focus-visible {
    &::after {
      transform: scale(1);
    }
  }
}
